.head
	width 100%
	height 60px
	background-color black
	.top
		width 980px
		height 60px
		margin 0 auto
		background-color black
		position relative
		.icon
			width 90px
			float left
			img
				position absolute
				top 28%
			div
				width 78px
				color rgb(255,238,0)
				line-height 20px
				font-size 18px
				font-weight bold
				padding 10px 0px 10px 25px
		ul
			width 900px
			height 60px
			li
				float left
				a
					display block
					line-height 30px
					padding 0 16px
					margin-right 12px
					border 2px solid white
					border-radius 20px
					margin-top 14px
					color white
					&:hover
						color rgb(254,230,72)
						border-color rgb(254,230,72)
.main1
	background-color rgb(61,172,103)
	.bigPic
		width 100%
		height 454px
		background url(../img/bgpic.png) no-repeat center
	.box
		width 980px
		height 266px
		margin 0 auto
		margin-top -266px
		.box1
			font-size 30px
			width 234px
			height 56px
			text-align center
			background-color #fae90b
			border-radius 20px
			border-style solid
			border-width 2px 2px 4px 2px
			margin-top 124px
			margin-left 374px
			a
				color #e7153a
				font-weight bold
				line-height 50px
			i
				font-family dujiazt!important
				display inline-block
				color #e7153a
				font-weight bold
				animation weiyi 1s infinite
		.box2
			width 1000px
			height 173px
			margin-top 20px
			.go
				width 188px
				height 123px
				float left
				margin 40px 6px
				border-radius 10px
				a
					display block
					padding 12px 10px 0
					width 188px
					height 123px
					.a
						display block
						font-size 24px
						font-weight bold
						color white
					.b
						display block
						font-size 15px
						padding 10px 0px
						color white		
			.go1
				background-image url(../img/go_01.jpg)
			.go2
				background-image url(../img/go_02.jpg)	
			.go3
				background-image url(../img/go_03.jpg)	
			.go4
				background-image url(../img/go_04.jpg)
			.go5
				background-image url(../img/go_05.jpg)
.main2
	width 100%
	height 4709px
	background-color #815ad8
	.firstFloor,.secondFloor,.thirdFloor
		width 980px
		margin 0 auto
		padding-top 60px
		.guonei-hd
			height 93px
			padding-top 14px
			text-align center
			&.logo3
				padding-top 18px
			.title
				display inline-block
				font-size 30px
				color white
				font-weight bold
				text-align center
				margin 0 auto
			i
				display inline-block
				color white
				font-size 28px
			.text
				padding-top 6px
				font-size 16px
				color #fe0
				font-weight bold
		.logo1
			background-image url(../img/tit_01.jpg)
		.logo2
			background-image url(../img/tit_02.jpg)
		.logo3
			background-image url(../img/tit_03.jpg)
			i
				font-family dujiazt!important
				animation weiyi 1s infinite	
		.guonei-bd
			&.guonei-bd1
				background-color #815ad8
			&.guonei-bd3
				background-color #e2b800	
			.tab
				&.tab3
					padding-top 6px
				.tab-head
					width 969px
					height 56px
					margin-top 10px
					margin-left 11px
					.items
						width 969px
						height 52px
						margin-left 5px
						.item
							float left
							width 478px
							height 52px
							border 1px solid #4f1ebd
							background-color #9369f0
							text-align center
							font-size 18px
							font-weight bold
							line-height 52px
							color #4f1ebd
							&.itemL
								border-radius 8px 0 0 8px
								&:hover
									background-color #4f1ebd
									color #fe0
							&.itemR
								border-radius 0 8px 8px 0
								&:hover
									background-color #4f1ebd
									color #fe0
							&.bianse1
								background-color #4f1ebd
								color #fe0
						.item
							&.item3
								&.bianse3
									background-color #9b800b
									color #fe0
								border 1px solid #9b800b
								background-color #f7e16e
								color #a16a08
								&.itemL
								&.itemR
									&:hover
										background-color #9b800b
										color #fe0
							
							
				.tab-box
					width 980px
					.btn
						width 80px
						line-height 40px
						background-color #ff3939
						color white
						border-radius 5px
						font-size 16px
						text-align center
						position absolute
						right 0px
						bottom 0px
					a
						float left
						display block
						margin 10px 
						width 224px
						height 266px
						background-color white
						&:hover .btn
							background-color rgb(230,24,24)
							color #ffde00
						&:hover img
							transform-origin 50% 50%
							transform scale(1.08,1.08)
							
						.outImg
							overflow hidden
							position relative
							img
								width 224px
								height 149px
								transition transform .3s ease-in
							.tag
								position absolute
								right 10px
								top 10px
								z-index 3
								width 68px
								height 68px
								border-radius 50%
								text-align center
								line-height 20px
								background-color rgb(242,62,79)
								.tag-hd
									padding-top 12px
									font-size 14px
									color white
								.tag-bd
									font-size 14px
									color #fff06e
									font-weight bold
						.article
							width 224px
							height 117px
							padding 10px
							.tit
								width 204px
								height 24ppx
								line-height 24px
								font-size 16px
								font-weight bold
								overflow hidden
								white-space nowrap
								text-overflow ellipsis
							.desc
								width 204px
								height 21px
								line-height 21px
								font-size 14px
								overflow hidden
								white-space nowrap
								text-overflow ellipsis
							.inner-article
								position relative
								padding-top 12px
								.prices
									color #ff3939
									.yuan
										float left
										font-size 16px
										line-height 27px
										width 10px
									.price
										padding-left 4px
										font-size 24px
									.txt
										font-size 14px
								.del
									font-size 14px
									color #666
									text-decoration line-through			
				.more
					padding 16px 0 36px 0
					height 87px
					.line
						width 412px
						height 1px
						background-color rgba(0,0,0,0.5)
						position absolute
						margin-top 18px
						&.lineL
							margin-left 12px
						&.lineR
							margin-left 556px
					a
						display block
						width 132px
						margin 0 auto
						line-height 34px
						text-align center
						background-color rgba(0,0,0,0.5)
						border-radius 17px
						color rgb(255,255,255)
						span
							font-size 16px	
						i
							font-family dujiazt!important
							display inline-block
.main3
	height 6627px
	background-color #6633da
	.guonei
		width 980px
		margin 0 auto
		padding-top 60px
		.guonei-hd
			height 190px
			text-align center
			background-image url(../img/huiyuan.jpg)
			.title
				display inline-block
				padding-top 24px
				text-align center
				font-size 30px
				color white
				font-weight bold
		.guonei-bd
			background-color #491bb2
			.info
				height 100px
				padding 0 9px
				background-color #491bb2
				.inner
					position relative
					overflow hidden
					border-radius 10px
					background-color #4574e8
					.item
						float left
						height 100px
						padding-top 16px
						line-height 30px
						&.item-l
							width 480px
							padding-left 20px
						&.item-r
							padding-left 70px
							width 480px
						.l
							float left
							font-size 88px
							line-height 88px
							font-weight bold
							font-family arial
							color white
						.r
							float left
							width 260px
							.title
								padding-top 6px
								font-size 24px
								font-weight bold
								color white
							.desc
								font-size 36px
								color #f9db00
								font-weight bold
								padding-top 5px
								&.desc1
									padding-top 7px
								.txt
									font-weight bold
									display inline-block
									vertical-align middle
								.b
									vertical-align middle
									font-size 46px
									font-family Impact
						.btn
							float left
							position relative
							width 86px
							height 75px
							background-color #fae90b
							color #e7153a
							font-weight bold
							border-radius 8px
							padding 11px 0 0 12px
							&.btn1
								float left
								padding 10px 5px
								.btn-txt
									width 72px
									line-height 56px
							.btn-txt
								display block
								font-size 24px
								text-align center
								line-height 27px
								width 52px
								color #e7153a
								font-weight bold
							.iconfont
								position absolute
								right 8px
								top 50%
								color #e7153a
								font-size 14px
								font-weight bold
								line-height 30px
								margin-top -15px
								font-style normal
					.line
						position absolute
						z-index 1
						left 50%
						bottom 0
						background-color #6c36de
						width 3px
						margin-left -1px
						height 100%
						overflow hidden
						i
							display block
							height 3px
							background-color #4574e8
							margin-top 6px
					.circle-tit
						position absolute
						z-index 2
						top -1px
						left 50%
						margin-left -56px
						width 112px
						height 28px
						line-height 26px
						text-align center
						font-size 18px
						font-weight bold
						border-radius 14px
						background-color #491bb2
						color white
		.freedom-ft
			height 200px
			background-image url(../img/huiyuan_ft.jpg)
			.freedom
				font-size 14px
				line-height 65px
				text-align center
				color #fe0
				white-space nowrap
				overflow hidden
				text-overflow ellipsis
				a
					color #4af6ff
	.forthFloor,.fifthFloor,.sixthFloor
		width 980px
		margin 0 auto
		padding-top 60px
		.guonei-hd
			height 93px
			padding-top 18px
			text-align center
			i
				font-family dujiazt!important
				animation weiyi 1s infinite
			&.logo4
				background-image url(../img/tit_04.jpg)
			&.logo5
				background-image url(../img/tit_05.jpg)
			&.logo6
				background-image url(../img/tit_06.jpg)	
				
			.title
				display inline-block
				font-size 30px
				color white
				font-weight bold
				text-align center
				margin 0 auto
			i
				display inline-block
				color white
				font-size 28px
			.text
				padding-top 6px
				font-size 16px
				color #fe0
				font-weight bold	
		.guonei-bd
			&.guonei-bd4
				background-color #ee9a50
			&.guonei-bd5
				background-color #4677ce
			.tab
				&.tab3
					padding-top 6px
				.tab-head
					width 969px
					height 56px
					margin-top 10px
					margin-left 11px
					.items
						width 969px
						height 52px
						margin-left 3px
						.item
							float left
							width 478px
							height 52px
							border 1px solid #e76026
							background-color #fec27c
							text-align center
							font-size 18px
							font-weight bold
							line-height 52px
							color #e76026
							&.itemL
								border-radius 8px 0 0 8px
							&.itemR
								border-radius 0 8px 8px 0
								&:hover
									background-color #e76026
									color #fe0
							&.bianse4
								background-color #e76026
								color #f4e513	
							&.item6
								width 323px
								height 52px
								color #13459b
								background-color #7bbdf7
								border 1px solid #13459b
								&.bianse6
									background-color #13459b
									color #f4e513	
								&.itemL
									border-radius 8px 0 0 8px
								&.itemM
									&:hover
										background-color #13459b
										color #f4e513
								&.itemR
									&:hover
										background-color #13459b
										color #f4e513
				.tab-box
					width 980px
					.btn
						width 80px
						line-height 40px
						background-color #ff3939
						color white
						border-radius 5px
						font-size 16px
						text-align center
						position absolute
						right 0px
						bottom 0px
					a
						float left
						display block
						margin 10px 
						width 224px
						height 266px
						background-color white
						&:hover .btn
							background-color rgb(230,24,24)
							color #ffde00
						&:hover img
							transform-origin 50% 50%
							transform scale(1.08,1.08)	
						.outImg
							overflow hidden
							position relative
							img
								width 224px
								height 149px
								transition transform .3s ease-in
							.tag
								position absolute
								right 10px
								top 10px
								z-index 3
								width 68px
								height 68px
								border-radius 50%
								text-align center
								line-height 20px
								background-color rgb(242,62,79)
								.tag-hd
									padding-top 12px
									font-size 14px
									color white
								.tag-bd
									font-size 14px
									color #fff06e
									font-weight bold
						.article
							width 224px
							height 117px
							padding 10px
							.tit
								width 204px
								height 24ppx
								line-height 24px
								font-size 16px
								font-weight bold
								overflow hidden
								white-space nowrap
								text-overflow ellipsis
							.desc
								width 204px
								height 21px
								line-height 21px
								font-size 14px
								overflow hidden
								white-space nowrap
								text-overflow ellipsis
							.inner-article
								position relative
								padding-top 24px
								.prices
									color #ff3939
									.yuan
										float left
										font-size 16px
										line-height 27px
										width 10px
									.price
										padding-left 4px
										font-size 24px
									.txt
										font-size 14px
								.del
									font-size 14px
									color #666
									text-decoration line-through				
			.more
				padding 16px 0 36px 0
				height 87px
				.line
					width 412px
					height 1px
					background-color rgba(0,0,0,0.5)
					position absolute
					margin-top 18px
					&.lineL
						margin-left 12px
					&.lineR
						margin-left 556px
				a
					display block
					width 132px
					margin 0 auto
					line-height 34px
					text-align center
					background-color rgba(0,0,0,0.5)
					border-radius 17px
					color rgb(255,255,255)
					span
						font-size 16px	
					i
						font-family dujiazt!important
						display inline-block							
.foot
	background-color #3dac67
	.active
		width 980px
		margin 0 auto
		padding 40px 0
		.active-hd
			position relative
			font-size 30px
			color #4f1ebd
			font-weight bold
			margin-bottom 10px
			text-align center
			.line
				position absolute
				z-index 1
				width 780px
				left 110px
				top 50%
				margin-top -2px
				height 4px
				font-family arial
				background-color #4f1ebd
			.txt
				position relative
				z-index 2
				display inline-block
				padding 0 10px
				font-weight bold
				background-color #3dac67
		.active-bd
			a
				display block
				padding-top 20px
.nav
	position absolute
	z-index 10
	right 10px
	top 500px
	width 116px
	padding-top 56px
	font-family Microsoft Yahei
	.fix-hd
		position absolute
		left 0px
		top 0px
		height 120px
		width 116px
		background-image url("../img/huiyuanjie.png")
	.fix-bd
		width 116px
		height 295px
		border-radius 60px 60px 0 0
		padding 65px 10px 0px
		background-color #8839f2
		.nav-list
			list-style none
			.list
				border-bottom 1px solid #9550e7
				a
					display block
					padding 6px 0
					line-height 20px
					font-size 14px
					color white
					text-align center
					&:hover
						color #fdff44
				.current
					color #fdff44
	.fix-ft
		overflow hidden
		height 52px
		.backtop
			display block
			padding-top 68px
			margin-top -68px
			line-height 52px
			border-radius 60px
			text-align center
			cursor pointer
			background-color #7939cf
			.txt
				font-size 20px
				font-weight bold
				color white
				&:hover
					color #fdff44
.fixed
	position fixed
	top 0
	left 50%
	transform translateX(-50%)
	z-index 10
.sidenav-fix
	position fixed
	top 60px
@keyframes weiyi
	to
		transform translateX(6px)											